swagger: '2.0'
info:
  title: kiki API
  description: CrewAI (Parent) on Azure App Service
  version: 0.1.0
host: api.com
basePath: /
schemes:
  - https
consumes: []
produces: []
paths:
  /:
    get:
      summary: Root
      operationId: root__get
      produces:
        - application/json
      responses:
        '200':
          description: Successful Response
          schema: {}
  /ask:
    post:
      summary: Ask Kiki
      description: Copilot Studio から叩かれるエンドポイント
      operationId: ask_kiki_ask_post
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UserRequest'
      responses:
        '200':
          description: Successful Response
          schema: {}
        '422':
          description: Validation Error
          schema:
            $ref: '#/definitions/HTTPValidationError'
definitions:
  HTTPValidationError:
    title: HTTPValidationError
    type: object
    properties:
      detail:
        title: Detail
        type: array
        items:
          $ref: '#/definitions/ValidationError'
  UserRequest:
    title: UserRequest
    required:
      - query
    type: object
    properties:
      query:
        title: Query
        type: string
  ValidationError:
    title: ValidationError
    required:
      - loc
      - msg
      - type
    type: object
    properties:
      loc:
        title: Location
        type: array
        items:
          type: string
      msg:
        title: Message
        type: string
      type:
        title: Error Type
        type: string
parameters: {}
responses: {}
tags: []
securityDefinitions:
  api_key:
    type: apiKey
    in: header
    name: X-API-KEY
security:
  - api_key: []
